<%- include("partials/navbar.ejs") %>

    <main>
        <div class="container">
            <div class="main-text">
                <h1 class="main-heading">Organize your work and life, finally.</h1>
                <p class="description">Simplify life for you and your team with the world's #1 task manager and
                    todo-list app.</p>
                <button class="start button extra"><a href="/login"> Start for free</a></button>
            </div>
            <img class="example image" src="images\todo-list.png" alt="Example image">
        </div>
    </main>
    <script defer src="scripts/navbar.js"></script>
    </body>

    </html>