.logo {
    width: clamp(40px, 3vw, 50px);
    height: clamp(40px, 3vw, 50px);
    border-radius: 30%;
    margin-left: 30px;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--outline-color);
    cursor: pointer;
}

@media (max-width: 768px) {
    ul {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 70%;
        background: var(--navbar-color);
        top: 53px;
        left: 40px;
        margin: 0px;
        padding: 15px;
    }

    ul.show {
        display: flex;
    }

    .vertical-line {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
}

.left-nav {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.vertical-line {
    color: var(--font-color);
    font-size: 1.5rem;
}

.name {
    color: var(--font-color);
    margin: 5px;
}

.button {
    color: var(--font-color);
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 1rem;
    font-family: "Open Sans", serif;
    padding: 0px 7px;
    cursor: pointer;
}

.log-in {
    color: var(--font-color);
    background-color: var(--navbar-color);
}

.start { 
    background-color: var(--button-accent-color);
    padding: 10px 14px;
    margin-right: 30px;
    border-radius: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.container p {
    max-width: 500px;
    margin-bottom: 40px;
}

.main-text {
    width: 40%;
    color: var(--font-color);
}

.example {
    padding: 10px 10px;
    border: 1px solid var(--outline-color);
    border-radius: 30px;
    width: clamp(300px, 35%, 600px);
    margin-top: 20px;
}

.extra {
    padding: 10px 20px;
    border-radius: 30px;
}